.duplications-rating {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 3px solid #f3ca8e;
  border-radius: 24px;
  box-sizing: border-box;
}

.duplications-rating:after {
  border-radius: 24px;
  background-color: #f3ca8e;
  content: "";
}

.duplications-rating-A {
  border-color: #85bb43;
}

.duplications-rating-A:after {
  width: 2px;
  height: 2px;
  background-color: #85bb43;
}

.duplications-rating-B:after {
  width: 6px;
  height: 6px;
}

.duplications-rating-C:after {
  width: 8px;
  height: 8px;
}

.duplications-rating-D {
  border-color: #d4333f;
}

.duplications-rating-D:after {
  width: 12px;
  height: 12px;
  background-color: #d4333f;
}

.duplications-rating-E {
  border-color: #d4333f;
}

.duplications-rating-E:after {
  width: 14px;
  height: 14px;
  background-color: #d4333f;
}
