.projects-list-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.projects-list {
  outline: none;
}

.project-card {
  height: 115px;
  box-sizing: border-box;
}

.project-card .level {
  width: 80px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  box-sizing: border-box;
}

.project-card-name {
  font-weight: 600;
}

.project-card-measures {
  margin: 0 -20px;
}

.project-card-measure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 85px;
  padding: 0 20px;
  text-align: center;
}

.project-card-measure + .project-card-measure:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 24px;
  margin-top: -12px;
  border-left: 1px solid #e6e6e6;
  content: "";
}

.project-card-measure.pull-right:before {
  display: none;
}

.project-card-measure-rating {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  padding: 10px 0;
}

.project-card-measure .rating {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
}

.project-card-measure .level {
  margin-top: 0;
  margin-bottom: 0;
}

.project-card-measure-inner {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.project-card-measure-number {
  line-height: 24px;
  font-size: 18px;
}

.project-card-measure-label {
  margin-top: 4px;
  font-size: 12px;
}
