.projects-list-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.projects-list {
  outline: none;
}

.project-card {
  height: 115px;
  box-sizing: border-box;
}

.project-card .level {
  width: 80px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  box-sizing: border-box;
}

.project-card-name {
  font-weight: 600;
}

.project-card-measures {
  margin: 0 -10px;
}

.project-card-measure {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.project-card-measure + .project-card-measure {
  border-left: 1px solid #e6e6e6;
}

.project-card-measure-rating {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  padding: 10px 0;
}

.project-card-measure-rating .rating {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
}

.project-card-measure-inner {
  display: inline-block;
  vertical-align: top;
}

.project-card-measure-number {
  line-height: 22px;
  font-size: 18px;
}

.project-card-measure-label {
  line-height: 22px;
  font-size: 12px;
}
